<h1>
    Opening Course
</h1>
<br>
<div >
<div class="row">

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4 style="text-align: center;">Eat KFC</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title">Shop: KFC</h5>
            <p class="card-text"><b>Phone: </b>19009191</p>
            <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
            <p class="card-text"><b>Created Date: </b>2020-15-09</p>
            <p class="card-text"><b>Host: </b>Thang Ca Chep</p>
            <hr>
            <button class="button" routerLink="/menu"><b>Join</b></button>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4 style="text-align: center;">Eat KFC</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title">Shop: KFC</h5>
            <p class="card-text"><b>Phone: </b>19009191</p>
            <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
            <p class="card-text"><b>Created Date: </b>2020-15-09</p>
            <p class="card-text"><b>Host: </b>Thang Ca Chep</p>
            <hr>
            <button class="button" routerLink="/menu"><b>Join</b></button>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4 style="text-align: center;">Eat KFC</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title">Shop: KFC</h5>
            <p class="card-text"><b>Phone: </b>19009191</p>
            <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
            <p class="card-text"><b>Created Date: </b>2020-15-09</p>
            <p class="card-text"><b>Host: </b>Thang Ca Chep</p>
            <hr>
            <button class="button" routerLink="/menu"><b>Join</b></button>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4 style="text-align: center;">Eat KFC</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title">Shop: KFC</h5>
            <p class="card-text"><b>Phone: </b>19009191</p>
            <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
            <p class="card-text"><b>Created Date: </b>2020-15-09</p>
            <p class="card-text" routerLink="/menu"><b>Host: </b>Thang Ca Chep</p>
            <hr>
            <button class="button"><b>Join</b></button>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4 style="text-align: center;">Eat KFC</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title">Shop: KFC</h5>
            <p class="card-text"><b>Phone: </b>19009191</p>
            <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
            <p class="card-text"><b>Created Date: </b>2020-15-09</p>
            <p class="card-text"><b>Host: </b>Thang Ca Chep</p>
            <hr>
            <button class="button" routerLink="/menu"><b>Join</b></button>
        </div>
    </div>

</div>
</div>